<footer class="footer">
  <div class="footer-container">
    <div class="footer-about">
      <h3>StayFinder</h3>
      <p>Your trusted partner for unforgettable journeys. Explore the world with the best deals on flights, hotels, and experiences.</p>
    </div>

    <div class="footer-links">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="#">Destinations</a></li>
        <li><a href="#">Flights</a></li>
        <li><a href="#">Hotels</a></li>
        <li><a href="#">Car Rentals</a></li>
        <li><a href="#">Tours</a></li>
      </ul>
    </div>

    <div class="footer-support">
      <h4>Support</h4>
      <ul>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">Booking Policy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">FAQs</a></li>
      </ul>
    </div>

    <div class="footer-newsletter">
      <h4>Subscribe</h4>
      <p>Get exclusive deals & travel tips!</p>
      <form action="#" method="post">
        <input type="email" placeholder="Your email" required>
        <button type="submit">Subscribe</button>
      </form>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 TravelEase Inc. All rights reserved.</p>
    <div class="social-icons">
      <a href="#">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="#">
        <i class="fa-brands fa-square-instagram"></i>
      </a>
      <a href="#">
        <i class="fa-brands fa-square-x-twitter"></i>
      </a>
      <a href="#">
        <i class="fa-brands fa-square-whatsapp"></i>
      </a>
    </div>
  </div>
</footer>
