<header class="navbar">
  <div class="brand">
    <a href="/stayfinder">
      <img src="/img/logo.png" alt="stayfinder">
    </a>
  </div>
  <div class="toggle-btn" id="navToggle">
    <i class="fa-solid fa-bars" id="rotateBar"></i>
  </div>
  <nav id="navLinks">
    <a href="/stayfinder/create">CREATE</a>
  </nav>
</header>