<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>CREAGTE DATA</h3>
    <form action="/listing" method="post">
        <label for="title">Title</label>
        <input type="text" id="title" name="data[title]">
        <br>
        <br>
        <label for="description">Description</label>
        <input type="text" id="description" name="data[description]">
        <br>
        <br>
        <label for="image">Image</label>
        <input type="text" id="image" name="data[image]">
        <br>
        <br>
        <label for="price">Price</label>
        <input type="number" id="price" name="data[price]">
        <br>
        <br>
        <label for="location">Location</label>
        <input type="text" id="location" name="data[location]">
        <br>
        <br>
        <label for="country">Country</label>
        <input type="text" id="country" name="data[country]">
        <br>
        <br>
        <button type="submit">CREATE</button>
    </form>
</body>
</html>