<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StayFinder</title>
</head>

<body>
    <h1>ALL LISTING</h1>
    <form action="/stayfinder/create" method="get">
        <button type="submit">CREATE</button>
    </form>
    <% for (const element of data) { %>
        <p>
            <%= element.title %>
        </p>
        <form action="/stayfinder/<%= element._id %>/show" method="get">
            <button type="submit">SHOW</button>
        </form>
        <% } %>
</body>

</html>