/* Logo sizing */
.logo-img {
  height: 5vh;
  width: auto;
}

/* Optional: Adjust nav link styling */
.navbar-nav .nav-link {
  padding: 0.5rem 1rem;
  color: #000000;
  transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  background-color: var(--body-card-color);
  color: var(--body-background-color);
  border-radius: 40px;
}

/* For dark mode or custom color theme */
.navbar {
  background-color: var(--nav-background-color) !important;
  box-shadow: 0px 5px 11px 0px var(--body-background-color) !important;
}

/* For Button */
.nav-button:active,
.nav-button:focus
 {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.nav-button:hover{
  width: 90px;
}